<!-- header of ejs layout  -->
<link rel="stylesheet" href="/css/nav.css">


<nav class="navbar navbar-expand-lg navbar-light bg-light pl-5 pr-5">
    <a class="navbar-brand" href="/">ER System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <% if(locals.user && !locals.user.isAdmin){ %>

                <li class="nav-item ">
                    <a class="nav-link" href="#">Home </a>
                </li>
                <li class="nav-item text-center">
                    <%= user.name %>
                </li>

                <li class="nav-item ">
                    <a class="nav-link" href="/users/logout">Log Out</a>
                </li>
                <% }else if(locals.user && locals.user.isAdmin){ %>

                    <li class="nav-item ">
                        <a class="nav-link " href="/admin/admin-page">Assign Work</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/admin/view-employees">Employees</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/users/register">Add Employee</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link " href="/users/logout">Log Out</a>
                    </li>
                    <% }else{ %>
                        <li class="nav-item ">
                            <a class="nav-link " href="/users/login">Log In</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link " href="/users/register">Register</a>
                        </li>
                        <% } %>


        </ul>
    </div>
</nav>